<p id="notice"><%= notice %></p>

<h1>Drive Data</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Stats</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Start loc</th>
      <th>End loc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drive_data.each do |drive_datum| %>
      <tr>
        <td><%= drive_datum.user %></td>
        <td><%= drive_datum.stats %></td>
        <td><%= drive_datum.start_time %></td>
        <td><%= drive_datum.end_time %></td>
        <td><%= drive_datum.start_loc %></td>
        <td><%= drive_datum.end_loc %></td>
        <td><%= link_to 'Show', drive_datum %></td>
        <td><%= link_to 'Edit', edit_drive_datum_path(drive_datum) %></td>
        <td><%= link_to 'Destroy', drive_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drive Datum', new_drive_datum_path %>
