<div class="text-center">
  <br>
  <span class="white-text thin-text">PROGRESS</span><br>
  <span class="big-text"><%= @good_drives %> Drives</span><br>
  <span class="white-text mini-title">Consecutively Driven Well</span><br>
  <%= image_tag "wheel.svg", width: '50%' %><br><br>
  <div class="dark-grey-bg">
    <div class="sub-title">Offence Count</div><br>

    <div class="rows">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="rows">
          <div class="col-xs-4 col-md-4 col-lg-4">
            <%= image_tag "roadsigns.svg", width: '40%' %><br><br>
          </div>
          <div class="col-xs-4 col-md-4 col-lg-4">
            <%= image_tag "trafficlight.svg", width: '25%' %><br><br>
          </div>
          <div class="col-xs-4 col-md-4 col-lg-4">
            <%= image_tag "speed.svg", width: '50%' %><br><br>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="rows">
          <div class="col-xs-4 col-md-4 col-lg-4">
            ROAD SIGNS
          </div>
          <div class="col-xs-4 col-md-4 col-lg-4">
            TRAFFIC LIGHT
          </div>
          <div class="col-xs-4 col-md-4 col-lg-4">
            SPEED
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="rows">
          <a href="/page/sign_adherence">
            <div class="col-xs-4 col-md-4 col-lg-4 sub-title">
              <%= @deductions["sign_adherence"] %>
            </div>
          </a>
          <a href="/page/traffic_light">
            <div class="col-xs-4 col-md-4 col-lg-4 sub-title">
              <%= @deductions["traffic_light"] %>
            </div>
          </a>
          <a href="/page/speed">
            <div class="col-xs-4 col-md-4 col-lg-4 sub-title">
              <%= @deductions["speed"] %>
            </div>
          </a>
        </div>
      </div>
    </div>
    <br>&nbsp;
  </div>
  <h3 class="white">Suggestions</h3>
  <div class="spacing"></div>
  <div class="white-box suggestion">
    Oops! Looks like you need to improve a little bit.
    <br>
    Your progress shows that you need to focus on traffic lights and sign adherence. We suggest stopping for 3 seconds at stop signs.
  </div>
  <div class="bottom-spacing"></div>
</div>
