<!-- Monthly score: <%= @score %> -->

<div>
  <div class="text-center reward-info">
    <div class="top-nav-with-info">
      <div class="back"></div>
      <div class="heading text-center">
        <span class="white-text thin-text">REWARDS</span>
      </div>
      <div class="back flex-center">
        <a href="/page/rewards_information"><%= image_tag "info.svg", height: '15px' %></a>
      </div>

    </div>

    <!-- <span class="white-text thin-text">REWARDS</span><br> -->
    <span class="big-text">CURRENT</span>
    <h5 class="white">1st July - 31st July</h5>
    <div class="text-center">
      <%= link_to "EARN REWARD".html_safe, page_index_path, :class=>"white btn btn-primary earn-reward white-button btn-lg start"%>
    </div>
  </div>

  <div class="flex-center container text-center evaluation white-background">
    <div class="row">
      <div class="col-xs-2 col-md-3 col-lg-3 review">
        <% if @score >= 90 %>
          <p>YOUR DRIVING: GREAT JOB!!!</p>
        <% else %>
          <p>YOUR DRIVING: OOPS WE CAN DO BETTER</p>
        <% end %>
      </div>
      <div class="col-xs-8 col-md-3 col-lg-3 flex-center face">
        <% if @score >= 90 %>
        <%= image_tag "smile.svg"%>
        <% else %>
        <%= image_tag "frown.svg"%>
        <% end %>
      </div>
      <div class="col-xs-2 col-md-3 col-lg-3 review">
        <p>DAYS LEFT: 10</p>
      </div>
    </div>
  </div>

  <div class="container text-center less-bottom-padding">
    <h2 class="white">REDEEM THESE</h2>
    <div class="row flex-center">
      <div class="col-xs-6 col-md-6 col-lg-6">
        <div class="text-center prize-reward">
          <%= link_to "x1 FUEL VOUCHER".html_safe, page_index_path, :class=>"white btn btn-primary prize white-button btn-lg start"%>
        </div>
      </div>
      <div class="col-xs-6 col-md-6 col-lg-6">
        <div class="text-center prize-reward">
          <%= link_to "x2 CARWASH VOUCHER".html_safe, page_carwash_voucher_path, :class=>"white btn btn-primary prize white-button btn-lg start"%>
        </div>
      </div>
    </div>
  </div>


  </div>
</div>
